body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 20px;
}

.new-item-input-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.new-item-input {
  flex: 1;
  margin-right: 8px;
}

.todo-items-list {
  margin-top: 8px;
  list-style-type: none;
  padding-left: 0px;
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-item-text {
  margin-left: 8px;
}
